
<div ng-controller="SongCtrl">
  
    <div class="container" id="box">
      <!-- Container for main and sidebar --> 
      <div class=" container row">
      <!-- Container for sidebar --> 
        <div class="col-md-3" id="sidebar">
        <div class="well">
            <label>Artist</label>
             <select 
            ng-model="theArtist"
            ng-options="value.artist for value in songs | unique:'artist' | filter: theAlbum.artist"
            class="form-control">
            </select>
            <label>Album</label>
            <select 
            ng-model="theAlbum"
            ng-options="value.album.name for value in songs | unique:'album' | filter: {artist: theArtist.artist}"
            class="form-control">
            </select>
          </br>
          <div>
            <button class="btn btn-warning" ng-click="resetFilter()">Reset Filter</button>
          </div>
        </div>
          </br>
          <div class="well container-fluid"> 
            <label>Add New Song</label>
            <input class="form-control" type="text" placeholder="Song Title" ng-model="newSong.title"/>
            </br>
            <input class="form-control" type="text" placeholder="Artist" ng-model="newSong.artist"/>
            </br>
            <input class="form-control" type="text" placeholder="Album" ng-model="newSong.album.name"/>
            </br>
            <input class="form-control" type="text" placeholder="Year" ng-model="newSong.album.year"/>
            </br>
            <button class="btn btn-success" ng-click="addSong()">Add Song</button>
          </div>
        </div>
        <div class="col-sm-1"></div>

       <!-- Includes the song-list.html template  --> 
        <div class="col-sm-8 example-animate-container main">
          <div class="song-list well" ng-repeat="song in songs | filter: {album: theAlbum.album} | filter: {artist: theArtist.artist} | filter:theSong as results">
            <div>

              <a href="#/songs/{{ song.$id }}">{{ song.title }}</a>

            </div> 
          </div>
        </div>
      </div>
    </div>
</div>