
<nav class="navbar navbar-default" id="navbar">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <ul class="nav navbar-nav">
    <li><a href="ViewMusic.html">View Music</a></li>
    <li><a href="#/songs">Home</a></li>
  </ul>
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="theSong" placeholder="Search Site">
    </div>
  </form>
</nav>


<div ng-controller="SongCtrl">
  
    <div class="container" id="box">
      <!-- Container for main and sidebar --> 
      <div class=" container row">
      <!-- Container for sidebar --> 
        <div class="col-md-3" id="sidebar">
        <div class="well">
            <label>Artist</label>
             <select 
            ng-model="theArtist"
            ng-options="value.artist for value in songs | unique:'artist' | filter: theAlbum.artist"
            class="form-control">
            </select>
            <label>Album</label>
            <select 
            ng-model="theAlbum"
            ng-options="value.album.name for value in songs | unique:'album' | filter: {artist: theArtist.artist}"
            class="form-control">
            </select>
          </br>
          <div>
            <button class="btn btn-warning" ng-click="resetFilter()">Reset Filter</button>
          </div>
        </div>
          </br>
          <div class="well container-fluid"> 
            <label>Add New Song</label>
            <input class="form-control" type="text" placeholder="Song Title" ng-model="newSong.title"/>
            </br>
            <input class="form-control" type="text" placeholder="Artist" ng-model="newSong.artist"/>
            </br>
            <input class="form-control" type="text" placeholder="Album" ng-model="newSong.album.name"/>
            </br>
            <input class="form-control" type="text" placeholder="Year" ng-model="newSong.album.year"/>
            </br>
            <button class="btn btn-success" ng-click="addSong()">Add Song</button>
          </div>
        </div>
        <div class="col-sm-1"></div>

       <!-- Includes the song-list.html template  --> 
        <div class="col-sm-8 example-animate-container main">
        

              <div href="#/songs/{{ song.$id }}">
                <h3>{{song.title}} <small>({{song.album.year}})</small></h3> 
                <p>Performed by {{song.artist}} on album {{song.album.name}}</p>
                <button class="glyphicon glyphicon-trash btn btn-danger btn-sm delButton" ng-click="killSong(song)"></button>
              </div>

          
         
        </div>
      </div>
    </div>
</div>







  
